name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
    - name: Upgrade pip
      run: python -m pip install --upgrade pip
    - name: Lint with flake8
      run: |
        pip install flake8
        find . -name "*.py" | flake8 --count --max-complexity=5 \
                                     --show-source --statistics
    - name: Install and test with pytest
      run: |
        pip install pytest setuptools-scm
        pip install --editable .
        pytest --verbose
    - name: Test package build
      run: |
        pip install twine wheel
        python3 setup.py bdist_wheel sdist
        twine check dist/*
